////
/// Columns block.
///
/// @group  Blocks
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/mythic
////

.wp-block-columns {
	display: flex;

	// Add styles based on the number of columns. Supports 2-6 columns.
	&.has-2-columns {}
}

// Individual columns.
.wp-block-column {
	flex: 1;
}

// Editor specific styling. Make sure columns span correctly.
.block-editor-inner-blocks {
	flex: 1;
}
