////
/// Pullquote block.
///
/// @group  Blocks
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/mythic
////

.wp-block-pullquote {
	padding:    3em 0;
	text-align: center;

	&.alignleft,
	&.alignright {
		max-width: content-width() / 2;
	}

	cite,
	footer {
		position: relative;
	}
}
