////
/// Subhead block.
///
/// @group  Blocks
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/mythic
////

.wp-block-subhead {
	font-size:  1.125em;
	font-style: italic;
	opacity:    0.75;
}
