{
	"extends": "wordpress",
	"env": {
		"browser": true,
		"es6": true,
		"jquery": true
	},
	"parserOptions": {
        	"sourceType": "module"
	},
	"rules": {
		"space-in-parens": 0,
		"wrap-iife": 0
	}
}
