# Exclude from release archives.

/.*              export-ignore
/*.json          export-ignore
/*.lock          export-ignore
/*.xml           export-ignore
/*.xml.dist      export-ignore
/*.yml           export-ignore
/bin/            export-ignore
/resources/fonts export-ignore
/resources/img   export-ignore
/resources/js    export-ignore
/resources/scss  export-ignore
/resources/svg   export-ignore
/tests/          export-ignore
/webpack.mix.js  export-ignore

# Handle line endings.
# See https://help.github.com/articles/dealing-with-line-endings/

* text eol=lf
*.gif binary
*.ico binary
*.jpg binary
*.png binary

# Don't diff or textually merge source maps
*.map binary
