<?xml version="1.0"?>
<ruleset name="Mythic Theme Coding Standards">

	<!-- Exclude files and folders. -->
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>

	<!-- Only check the PHP files. -->
	<arg name="extensions" value="php"/>

	<!-- Check PHP version compatibility. -->
	<rule ref="PHPCompatibilityWP"/>
	<config name="testVersion" value="5.6-"/>

	<!-- Use WPTRTCS: https://github.com/WPTRT/WPThemeRevie. -->
	<rule ref="WPThemeReview"/>

	<!-- Set textdomains. -->
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="mythic"/>
			</property>
		</properties>
	</rule>

</ruleset>
