////
/// App header component.
///
/// @group  Components
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/mythic
////

.app-header {

	// Wrapper around the title and description.
	&__branding {}

	// The site title.
	&__title {}

	// Site title link.
	&__title-link {}

	// The site description.
	&__description {}

	// The image output from the `custom-header` feature.
	&__image {}
}
