////
/// Pagination component.
///
/// @group  Components
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/mythic
////

.pagination {

	// Header/Title element.
	&__title {}

	// The list of items.
	&__items {}

	// Individual items.
	&__item {
		&--prev {}
		&--next {}
		&--current {}
		&--dots {}
	}

	// The link or span element.
	&__anchor {
		&--link {}
		&--current {}
		&--dots {}
	}
}
