////
/// Helper classes.
///
/// @group  Utilities
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/mythic
////

/// Loops through the theme colors and adds utility classes for them. Primarily,
/// these are the `.has-{$color}-color` and `.has-{$color}-background-color`
/// classes added via Gutenberg. However, they are useful elsewhere.

@each $color-name, $color-value in block-colors() {

	.has-#{ $color-name }-color {
		color : #{ $color-value };
	}

	.has-#{ $color-name }-background-color {
		background-color: #{ $color-value };
	}
}

/// Loops through the editor font sizes and adds utility classes for them. This
/// handles the `.has-{$size}-font-size` classes added via Gutenberg, which may
/// be useful elsewhere.

@each $font-size-name, $font-size-value in editor-font-sizes() {

	.has-#{ $font-size-name }-font-size {
		font-size: #{ $font-size-value };
	}
}
