////
/// Generic imports.
///
/// This is the first point that real CSS is output. Resets, normalization,
/// fonts, etc. are best handled here. These are the base styles that other
/// styles will build upon.
///
/// @group  Generic
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/mythic
////
