////
/// Set up and define fonts.
///
/// @group  Settings
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/mythic
////

/// Returns a map of font families in name-value format.
///
/// @since  1.0.0
/// @access public
/// @return {map}  Map of defined font families.

@function font-families() {

	@return (
		primary   : system-ui,
		secondary : system-ui,
		code      : #{'Source Code Pro', Monaco, Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace}
	);
}

/// Returns a single color value by name.
///
/// @since  1.0.0
/// @access public
/// @param  {string}  $name  Font familiy name.
/// @return {string}         Font family value.

@function font-family( $name ) {

	@return map-get( font-families(), $name );
}
