///
/// Set up and define colors.
///

// Colors defined in `app/functions-setup.php` for the `editor-color-palette`
// feature (WP editor).
$block-colors : (
	charcoal  : #282c34,
	regent    : #8c97a7,
	husk      : #b9a364,
	red-stage : #b15330
);
