////
/// Customize controls style.
///
/// This is the primary style for the customize controls panel. Use this for
/// importing styles for custom panels, sections, and controls.
///
/// @group  Styles
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/mythic
////

// Uncomment any of the below to import styles for Hybrid Core's built-in
// controls if your theme is using them.

// @import '~hybrid/scss/customize-controls/palette';
// @import '~hybrid/scss/customize-controls/radio-image';

// Import `customize-controls` partials..

@import 'customize-controls/_index';
