////
/// Editor stylesheet.
///
/// This is the primary editor stylesheet. It is used for the WordPress 5.0+
/// block editor (Gutenberg) and is not intended for older versions of the
/// WordPress edit screen.
///
/// @group  Styles
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/mythic
////

// Import settings and tools.
@import 'settings/_index';
@import 'tools/_index';

// Prefixes all of the styles with `.editor-styles-wrapper` for use within the
// block editor.
.editor-styles-wrapper {

	// Import styles that are needed *just* for the editor. There's no need
	// to import everything, such as styles that don't have an effect on
	// block output.

	@import 'elements/_index';
	@import 'blocks/_index';
	@import 'utilities/_index';
}
