////
/// Component imports.
///
/// Components make up the bulk of the actual theme design. Nearly every piece
/// of the design is some type of component, whether it's a one-off or reusable
/// block of code.
///
/// @group  Components
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/mythic
////

@import 'app';
@import 'app-header';
@import 'app-content';
@import 'app-main';
@import 'app-footer';
@import 'archive-header';
@import 'comments';
@import 'comment';
@import 'comment-respond';
@import 'custom-header';
@import 'entry';
@import 'gallery';
@import 'media-meta';
@import 'nav-menu';
@import 'nav-pagination';
@import 'sidebar';
@import 'widget';
