////
/// App component.
///
/// This is the wrapper for the entire page layout.
///
/// @group  Components
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/mythic
////

.app {

}
