////
/// App content component.
///
/// This component generally wraps the `<main>` section and the sidebar.
///
/// @group  Components
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/mythic
////

.app-content {

}
