////
/// App main component.
///
/// Wraps the page's main output. This is generally the post list or a single
/// post and its comments.
///
/// @group  Components
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/mythic
////

.app-main {

}
