////
/// Comments component.
///
/// This component wraps the entire comments section.
///
/// @group  Components
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/mythic
////

.comments {

	// Header/title for the comments section.
	&__title {}

	// Comments list wrapper.
	&__list {

		// Children lists (note that WP doesn't have a filter -- the
		// only way to change this class is with a custom Walker).
		// @link https://core.trac.wordpress.org/ticket/44923
		.children {}
	}

	// Comments closed message.
	&__closed {}
}
