////
/// Sidebar component.
///
/// @group  Components
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/mythic
////

.sidebar {

	&--primary {}

	&__title {}
}
