////
/// Gallery block.
///
/// @group  Blocks
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/mythic
////

.wp-block-gallery {

	&.is-cropped {}

	&.columns-1 {}
	&.columns-2 {}
	&.columns-3 {}

	.blocks-gallery-item {}
}
