////
/// Customize controls styles.
///
/// Styles should focus on the customize controls panel. This covers panels,
/// sections, and controls.
///
/// @group  CustomizeControls
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/mythic
////
