////
/// Block imports.
///
/// Styles for individual blocks in the block editor. All of the core WP blocks
/// are under the `/core` subfolder. Block styles for plugins should be in their
/// own subfolders.
///
/// @group  Blocks
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/mythic
////

// Import core blocks.
@import 'core/audio';
@import 'core/button';
@import 'core/categories';
@import 'core/code';
@import 'core/columns';
@import 'core/cover';
@import 'core/embed';
@import 'core/file';
@import 'core/gallery';
@import 'core/image';
@import 'core/latest-posts';
@import 'core/media-text';
@import 'core/preformatted';
@import 'core/pullquote';
@import 'core/quote';
@import 'core/separator';
@import 'core/subhead';
@import 'core/table';
@import 'core/verse';
